.DS_Store
char_detection/output/
char_detection/single_chars/
char_detection/preprocessed/
ocr_4_forest_service/output/
ocr_4_forest_service/preprocessed/
high_res/output/
high_res/preprocessed/
high_res/.ipynb_checkpoints/
