.DS_Store
archived/high_res/.DS_Store
archived/char_detection/.DS_Store
archived/char_detection/output/
archived/char_detection/single_chars/
archived/char_detection/preprocessed/
ocr_4_forest_service/output/
ocr_4_forest_service/src/single_chars/
ocr_4_forest_service/src/fields/
ocr_4_forest_service/src/__pycache__/

ocr_4_forest_service/src/alignedImage.jpg/
ocr_4_forest_service/preprocessed/
ocr_4_forest_service/src/bbox_coord.json
ocr_4_forest_service/src/test_data.csv
ocr_4_forest_service/src/.ipynb_checkpoints/
ocr_4_forest_service/single_chars/
ocr_4_forest_service/alignedImage.jpg
ocr_4_forest_service/bbox_coord.json
ocr_4_forest_service/fields/
archived/high_res/output/
archived/high_res/preprocessed/
archived/high_res/.ipynb_checkpoints/
archived/pipeline/fields/
archived/pipeline/preprocessed/
archived/pipeline/single_chars/
archived/pipeline/alignedImage.jpg
archived/pipeline/src/__pycache__/
